body{
    width: 1500px;
    height: 800px;
    background-color: #2A5D5A;
    margin: auto;
    padding-left: 50px;
}


header{
    text-align: center;
    color: #311313;
    width: 450px;
    height: 50px;
    margin: auto;
    font-size: 20px;
    color: white;
}

.box{
    background-color: black;
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border: 5px solid red;
}

.box1{
    width: 700px;
    height: 200px;
    background-color: aquamarine;
    margin-top: 33px;
    margin-left: 50px;                                   
}